/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Apr 2, 2017, 11:40:21 AM
    Author     : bryan
*/
.units table.stats tr th {
  text-align: center;
}
.units table.stats tr th.description {
  text-align: left;
}
.units table.stats tr td {
  text-align: right;
}
.units table.stats tr .input {
  margin: 0px auto;
  align-items: center;
  width: 58%;
  width: 30%;
}
.units table.stats tr .input input {
  height: 1.8em;
  width: 100%;
  font-size: 0.8em;
  text-align: center;
  margin: 0px auto;
}
.units table tr td {
  text-align: center;
}
.units table tr td span.unit_image {
  float: left;
  width: 120px;
  height: 100px;
  text-align: center;
  align-items: center;
}
.units table tr td span.unit_name {
  float: left;
  vertical-align: middle;
  max-width: 80px;
}
.units .original {
  display: none;
  visibility: hidden;
  opacity: 0;
}
@media (min-width: 768px) {
  .units .original {
    display: inherit;
    visibility: visible;
    opacity: 1;
  }
}
.units .runes .rune {
  padding: 0px;
}
.units .runes .rune.original {
  display: none;
  visibility: hidden;
  opacity: 0;
}
.units .runes .rune .slot {
  padding: 0px 5px;
  margin-bottom: 10px;
}
.units .runes .rune .slot table {
  width: 100%;
}
.units .runes .rune .slot table tr.pri_eff {
  background-color: rgba(199, 221, 255, 0.75);
}
.units .runes .rune .slot table tr.pref_eff {
  background-color: rgba(196, 227, 243, 0.75);
}
.units .runes .rune .slot table tr.header {
  /*                            .total {
                                                            width: 15%;
                                                        }
                                                        .stat {
                                                            width: 30%;
                                                        }
                                                        .initial_value {
                                                            width: 30%;
                                                        }*/
}
.units .runes .rune .slot table tr.attribute select {
  width: 90%;
  font-size: 0.85em;
}
.units .runes .rune .slot table tr.attribute .input {
  margin: 0px auto;
  align-items: center;
  width: 58%;
}
.units .runes .rune .slot table tr.attribute .input input {
  height: 1.8em;
  width: 100%;
  font-size: 0.8em;
  text-align: center;
  margin: 0px auto;
}
.units .runes .rune .slot table tr td {
  text-align: center;
}
.units .runes .rune .slot table tr td.description {
  text-align: left;
}
.main-wrapper {
  float: left;
  width: 100%;
}
.power-ranking.title {
  line-height: 2em;
  font-weight: bold;
  font-size: 1.5em;
}
.hide-element {
  display: none;
  visibility: hidden;
  opacity: 0;
}
.sw_input_wrapper {
  margin: 0px auto;
  align-items: center;
  width: 58%;
}
.sw_input_element {
  height: 1.8em;
  width: 100%;
  font-size: 0.8em;
  text-align: center;
  margin: 0px auto;
}
#search-runes {
  padding: 0px;
}
#search-runes .search-rune-stars-level-wrapper {
  float: left;
  width: 50%;
}
#search-runes .search-rune-stars-level-wrapper .input {
  width: 50%;
}
@media (min-width: 768px) and (max-width: 1200px) {
  #search-runes .search-rune-stars-level-wrapper {
    width: 100%;
  }
}
#search-runes .input {
  float: left;
  width: 50%;
  padding: 0px 1%;
  min-height: 60px;
}
#search-runes .input input {
  max-width: 90%;
}
@media (min-width: 992px) {
  #search-runes .input {
    width: 25%;
  }
}
#search-runes .input.checkbox {
  margin-top: 0px;
  margin-bottom: 0px;
}
#search-runes .input.button {
  width: 25%;
}
@media (min-width: 1200px) {
  #search-runes .input.button {
    width: 10%;
  }
}
#search-runes .input.select #with-attributes {
  height: 16em;
}
#search-runes .input.select .checkbox {
  float: left;
  width: 50%;
  margin: 0px;
}
#search-runes .input.select label {
  width: 100%;
}
#search-runes .input label {
  float: left;
  margin: 0px 5px 0px 0px;
}
#search-runes .wrapper.buttons {
  float: left;
  width: 100%;
}
#search-runes .wrapper.buttons .submit {
  float: left;
  width: 25%;
}
@media (min-width: 1200px) {
  #search-runes .wrapper.buttons .submit {
    width: 10%;
  }
}
.search-runes-results {
  height: 786px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #333;
}
.search-runes-results .search-result {
  cursor: pointer;
  border-bottom: 1px solid #333;
  padding: 2px 0px;
}
.search-runes-results .search-result > div {
  float: left;
  width: 25%;
  font-size: 0.8em;
}
.search-runes-results .search-result .primary {
  width: 50%;
  background-color: rgba(199, 221, 255, 0.75);
  font-size: 0.9em;
}
.search-runes-results .search-result .prefix {
  width: 50%;
  background-color: rgba(196, 227, 243, 0.75);
  font-size: 0.9em;
}
.search-runes-results .search-result .tempered:after {
  content: '*';
}
.search-runes-results .search-result.owned {
  color: gray;
}
.search-runes-results .search-result.selected {
  font-style: italic;
  font-weight: bold;
}
.search-runes-results .search-result:last-child {
  border-bottom: none;
}
.search-runes-results .search-result:hover {
  background-color: lightgray;
}
.percent:after {
  content: "\f295";
}
/*# sourceMappingURL=sw_calculator.css.map */