<?= $this->Html->script('toggle_search_form', ['block' => 'script']) ?>
<div class="toggle-search col-xs-12">
    <input type="button" value="<?= _('Import Rune') ?>" data-slot="<?= $rune->slot_number ?>" class="col-xs-offset-6 col-xs-6"/>
</div>