/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Apr 2, 2017, 11:40:21 AM
    Author     : bryan
*/

@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

@sw-black: #333;
@sw-pri_eff: rgba(199, 221, 255, 0.75);
@sw-pref_eff: rgba(196, 227, 243, 0.75);
.units {
    table {
        &.stats {
            tr {
                th {
                    text-align: center;
                    &.description {
                        text-align: left;
                    }
                }
                td {
                    text-align: right;
                }
                .input {
                    .sw_input_wrapper();
                    width: 30%;
                    input {
                        .sw_input_element();
                    }
                }
            }
        }
        tr {
            td {
                text-align: center;
                span {
                    &.unit_image {
                        float: left;
                        width: 120px;
                        height: 100px;
                        text-align: center;
                        align-items: center;
                    }
                    &.unit_name {
                        float: left;
                        vertical-align: middle;
                        max-width: 80px;
                    }
                }
            }
        }
    }
    .original {
        .hide-element();
        @media(min-width: @screen-sm-min) {
            display: inherit;
            visibility: visible;
            opacity: 1;
        }
    }
    .modified {

    }
    .runes {
        .rune {
            padding: 0px;
            &.original {
                .hide-element();
            }
            .slot {
                padding: 0px 5px;
                margin-bottom: 10px;
                table {
                    width: 100%;
                    tr {
                        &.pri_eff {
                            background-color: @sw-pri_eff;
                        }
                        &.pref_eff {
                            background-color: @sw-pref_eff;
                        }
                        &.header {
                            /*                            .total {
                                                            width: 15%;
                                                        }
                                                        .stat {
                                                            width: 30%;
                                                        }
                                                        .initial_value {
                                                            width: 30%;
                                                        }*/
                        }
                        &.attribute {
                            select {
                                width: 90%;
                                font-size: 0.85em;
                            }
                            .input {
                                .sw_input_wrapper();
                                input {
                                    .sw_input_element();
                                }
                            }
                        }
                        td {
                            text-align: center;
                            &.description {
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }
}

.search-form-wrapper {

}

.main-wrapper {
    float: left;
    width: 100%;
}

.power-ranking.title {
    line-height: 2em;
    font-weight: bold;
    font-size: 1.5em;
}

.hide-element {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.sw_input_wrapper {
    margin: 0px auto;
    align-items: center;
    width: 58%;
}

.sw_input_element {
    height: 1.8em;
    width: 100%;
    font-size: 0.8em;
    text-align: center;
    margin: 0px auto;
}

#search-runes {
    padding: 0px;
    .search-rune-stars-level-wrapper {
        float: left;
        width: 50%;
        .input {
            width: 50%;
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-lg-min) {
            width: 100%;
        }
    }
    .input {
        float: left;
        width: 50%;
        padding: 0px 1%;
        min-height: 60px;
        input {
            max-width: 90%;
        }
        @media(min-width: @screen-md-min) {
            width: 25%;
        }
        &.checkbox {
            margin-top: 0px;
            margin-bottom: 0px;
        }
        &.button {
            width: 25%;
            @media(min-width: @screen-lg-min) {
                width: 10%;
            }
        }
        &.select {
            #with-attributes {
                height: 16em;
            }
            .checkbox {
                float: left;
                width: 50%;
                margin: 0px;
            }
            label {
                width:100%;
            }
        }
        label {
            float: left;
            margin: 0px 5px 0px 0px;
        }
    }
    .wrapper {
        &.buttons {
            float: left;
            width: 100%;
            .submit {
                float: left;
                width: 25%;
                @media(min-width: @screen-lg-min) {
                    width: 10%;
                }
            }
        }
    }
}

.search-runes-results {
    height: 786px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid @sw-black;
    .search-result {
        cursor: pointer;
        border-bottom: 1px solid @sw-black;
        padding: 2px 0px;
        & > div {
            float: left;
            width: 25%;
            font-size: 0.8em;
        }

        .primary {
            width: 50%;
            background-color: @sw-pri_eff;
            font-size: 0.9em;
        }
        .prefix {
            width: 50%;
            background-color: @sw-pref_eff;
            font-size: 0.9em;
        }
        .tempered {
            &:after {
                content: '*'
            }
        }
        &.owned {
            color: gray;
        }
        &.selected {
            font-style: italic;
            font-weight: bold;
        }
        &:last-child {
            border-bottom: none;
        }
        &:hover {
            background-color: lightgray;
        }
    }
}

.sw_fade_in_or_out(@speed: 1s, @function: ease) {
    -webkit-transition: display @speed @function, visibility @speed @function, opacity @speed @function;
    -moz-transition: display @speed @function, visibility @speed @function, opacity @speed @function;
    -ms-transition: display @speed @function, visibility @speed @function, opacity @speed @function;
    -o-transition: display @speed @function, visibility @speed @function, opacity @speed @function;
    transition: display @speed @function, visibility @speed @function, opacity @speed @function;
}

.percent:after {
    content: "\f295";
}